* {
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (min-width: 768px) {
  .wd-side-by-side {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .wd-side-by-side-item {
    align-self: center;
  }

  .wd-side-by-side.reverse .wd-side-by-side-item:first-child {
    order: 2;
  }
}