@import "@/styles/_variables.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-wd-primary);
}

body::before {
  content: none !important;
}

.display-block {
  display: block;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 300px;
  }
}

/* Navbar */
.wd-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--color-wd-primary);
}

.wd-navbar {
  display: block;
  justify-content: space-between;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  padding: 1rem;
}

li {
  color: var(--color-wd-secondary);
  list-style-type: none;
}

a {
  color: var(--color-wd-secondary) !important;
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--color-wd-secondary) !important;
}

.nav-links li, .wd-footer li {
  list-style-type: none;
}

.nav-links > li > a {
  text-decoration: none;
}

.nav-links li a:hover {
  color: var(--color-wd-secondary) !important;
}

h4.layout-type {
  color: var(--color-wd-accent);
  display: block;
  margin-bottom: 30px;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .wd-navbar {
    display: flex;
  }

  .nav-container {
    position: fixed;
    transition: all .5s;
    overflow: hidden;
    background-color: var(--color-wd-bg-alt);
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    z-index: 1;
  }

  .mobile-btn {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0 1rem;
    z-index: 2;
  }

  .nav-links {
    padding: 4rem 0 0 2rem;
    z-index: 5;
    position: relative;
  }

  .show-menu {
    opacity: 1;
  }

  .show-menu::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 40, 66, .7);
    z-index: 1;
    left: 0;
    top: 0;
    pointer-events: revert;
    backdrop-filter: blur(2px);
  }
  
  .hide-menu {
    opacity: 0;
    height: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 26px;
    cursor: pointer;
  }
   
   label span {
    background: var(--color-wd-secondary);
    border-radius: 10px;
    height: 4px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 100%;
  }
   
  span:nth-of-type(2) {
    width: 50%;
    margin-left: 5px;
  }
   
   
  span:nth-of-type(3) {
    width: 75%;
    margin-left: auto;
  }
   
  input[type="checkbox"] {
    display: none;
  }
   
  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px,0px)
  }
   
   
  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg) translate(5.5px, 2px);
    width: 100%;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    opacity: 0;
  }
   
  .sub-items {
    padding-left: .75rem;
    box-sizing: border-box;
    border-left: 1px solid rgba(235, 235, 235, .3);
  }
  
  .sub-items li {
    position: relative;
  }
  
  .sub-items li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: var(--color-wd-accent);
    left: -13px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .sub-items li:hover::before {
    opacity: 1;
  }

  .wd-content-wrapper {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wd-navbar {
    display: flex;
  }

  .mobile-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
  }

  .nav-links li {
    margin: 0;
  }

  .sub-items {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .wd-navbar {
    padding: 1rem 0;
  }
}

/* Homepage content */
.wd-home-main {
  padding: 10rem 1rem 6rem;
}

.wd-content-wrapper {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
}

.feature {
  color: var(--color-wd-primary) !important;
  font-weight: 800;
  margin: 0;
  margin-left: 5px;
  font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
  .feature {
    font-size: 1.2rem;
  }
}

.to-top-btn {
  position: fixed;
  right: 5%;
  bottom: 3%;
  background: var(--color-wd-bg-alt);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
}

.to-top-btn:hover {
  background: var(--color-wd-accent);
  color: var(--color-wd-primary);
}

.to-top-icon {
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.to-top-btn:hover .to-top-icon {
  filter: brightness(0) saturate(100%) invert(100%);
}

@media screen and (max-width: 767px) {
  .to-top-text {
    display: none;
  }
  .to-top-btn {
    padding: 10px;
    border-radius: 50px;
  }
  .to-top-icon {
    margin: 2px 5px;
  }
}

.badge {
  background: rgb(250, 86, 86);
  border-radius: 25px;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .8rem;
  margin: 0;
  margin-right: 5px;
}

.navy {
  color: var(--color-wd-primary);
  font-size: .9rem;
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.3rem;
  text-align: left !important;
}

.wd-hero {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}

.wd-hero p {
  margin-bottom: 2rem;
}

.wd-text-center {
  text-align: center;
}

section p {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.wd-horizontal-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wd-horizontal-display h2 {
  margin-bottom: 2rem;
}

.wd-img-container img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.wd-side-by-side-item img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 25px;
}

.wd-btn {
  background-color: var(--color-wd-primary);
  color: var(--color-wd-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
  border: .2rem solid var(--color-wd-accent);
  display: inline-block;
  transition: all .2s ease-in-out;
  font-weight: 700;
  text-decoration: none;
}

.wd-btn:hover {
  background-color: var(--color-wd-accent);
  color: var(--color-wd-primary) !important;
  cursor: pointer;
}

.thin {
  border: .1rem solid var(--color-wd-accent) !important;
}

.carousel {
  text-align: center;
  margin: 2rem 0;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container img {
  width: 85%;
  height: auto;
  border-radius: 15px;
}

.layoutCarousel > .carousel-container img {
  width: 100%;
  border-radius: 20px;
}

.previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: .15rem solid var(--color-wd-accent);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: none;
  border-radius: 50%;
  display: flex;
}

.previous-button {
  left: -20px;
}

.previous-button img {
  width: 15px !important;
  margin-left: -3px;
}

.next-button {
  right: -20px;
}

.next-button img {
  width: 15px !important;
  margin-left: -3px;
}

.wd-side-by-side-item .next-button img {
  margin-top: 15px;
}

.wd-side-by-side-item .previous-button img {
  margin-top: 15px;
}

.previous-button img, .next-button img {
  align-self: center;
}

.previous-button.layoutCarousel {
  top: -40px;
  margin-left: 35px;
}

.next-button.layoutCarousel {
  top: -40px;
  margin-right: 35px;
}

@media screen and (min-width: 768px) {
  .wd-hero {
    background-size: auto;
  }

  .wd-hero .wd-text-container {
    margin-left: 50px;
  }

  .previous-button {
    left: -50px;
  }
  
  .next-button {
    right: -50px;
  }

  .previous-button.layoutCarousel {
    margin-left: 50px;
  }
  
  .next-button.layoutCarousel {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .wd-img-container {
    gap: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .wd-hero h1 {
    font-size: 3.5rem;
  }
}

/* Docs */
.wd-intro {
  padding-top: 25%;
  padding-left: 5%;
  width: 90%;
}

@media screen and (min-width: 768px) {
.wd-intro {
  width: 90%;
  padding-top: 10%;
}
}

@media screen and (min-width: 1024px) {
  .wd-intro {
    width: 85%;
    padding-top: 10%;
    padding-left: 15%;
    }
  }

@media screen and (min-width: 1200px) {
  .wd-intro {
    width: 80%;
    padding-top: 10%;
    padding-left: 20%;
    }
} 

.wd-break {
  line-height: 1.7rem;
  margin-bottom: 3rem;
  padding-bottom:2rem;
}

.wd-content {
  margin-bottom: 5rem;
}

.wd-content ul {
  margin-bottom: 2rem;
}

.wd-content h4 {
  margin-top: 3rem;
}

.wd-subitems {
  border-left: .15rem solid var(--color-wd-overlay);
  padding-left: 3rem;
}

.anchor {
  padding-top: 100px;
  margin-top: -100px;
}

.wd-sidebar {
  line-height: 1.6rem;
  height: min-content;
  overflow-y: scroll;

}

.wd-sidebar > li {
  margin-bottom: 1rem;
}

.wd-sidebar > li > ul {
  padding-left: 0.75rem;
  border-left: 1px solid rgba(235, 235, 235, .3);
}

.wd-sidebar > li > ul > li {
  position: relative;
  width: fit-content;
  font-size: .8rem;
  text-decoration: underline;
}

.wd-sidebar > li > ul > li > ul {
  margin-left: 10px;
}

.wd-sidebar > li > ul > li::before, .wd-sidebar > li > ul > li > ul > li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: var(--color-wd-accent);
  left: -13px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.wd-sidebar > li > ul > li:hover::before, .wd-sidebar > li > ul > li > ul > li:hover::before {
  opacity: 1;
}

.wd-sidebar > li > a {
  text-decoration: none !important;
  font-weight: 800;
}

.wd-visual-ex {
  background-color: var(--color-wd-overlay);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 15px;
}

.center-ex {
  display: flex;
  justify-content: center;
}

.wd-html-code {
  overflow-x: scroll;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-height: 400px;
}

pre code.hljs {
  border-radius: 10px;
  border: 0.5px solid var(--color-wd-bg-alt);
  background: var(--color-wd-bg-alt);
}

.wd-monospace {
  color: var(--color-wd-accent);
  font-family:'JetBrains Mono', monospace;
  font-weight: 400;
  margin-right: 1px;
}

#toc-media-container h3:nth-child(2) {
  margin-top: 2rem;
}

.is-current a {
  color: var(--color-wd-accent) !important;
}

.is-current::before {
  background-color: var(--color-wd-secondary) !important;
  opacity: 1 !important;
}

.active-page > a {
  font-weight: 800;
}

.active-nav > a {
  color: var(--color-wd-accent) !important;
}

.toc-btn, .mobile-btn {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1023px) {
  .wd-sidebar {
    background-color: var(--color-wd-bg-alt);
    padding: 3rem 1rem;
    overflow: scroll;
    overflow-x: hidden;
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100%;
    z-index: -1;
  }

  .show-toc::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 40, 66, .7);
    z-index: -1;
    left: 0;
    top: 0;
    pointer-events: revert;
    backdrop-filter: blur(2px);
  }

  .toc-btn {
    display: flex;
    gap: 1rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 0 1rem;
    padding: .5rem;
  }

  .toc-btn p:hover {
    color: var(--color-wd-secondary);
  }

  .show-toc {
    opacity: 1;
    z-index: 10;
  }
  
  .hide-toc {
    opacity: 0;
    height: 0;
  }

  .close-btn {
    width: 32px;
    height: 26px;
    background: transparent;
    cursor: pointer;
  }

  .close-btn span:first-child {
    width: 100%;
    height: 2.5px;
    display: block;
    transform: rotate(45deg);
    background: var(--color-wd-secondary);
    border-radius: 5px;
  }

  .close-btn span:last-child {
    width: 100%;
    height: 2.5px;
    display: block;
    transform: rotate(-45deg) translate(1.5px, -2px);
    border-radius: 5px;
    background: var(--color-wd-secondary);
  }

  .show-close-btn {
    position: fixed;
    z-index: 20;
    left: 65%;
    top: 20px;
  }

  .hide-close-btn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  aside {
    margin-top: 0;
  }

  .toc-btn {
    display: none;
  }

  .wd-grid aside {
    position: sticky;
    top: 75px;
    height: min-content;
    overflow: auto;
    width: max-content;
  }

  .wd-sidebar {
    margin-right: 5rem;
  }
}

.wd-copy-btn {
  color: var(--color-wd-secondary);
  background-color: var(--color-wd-primary);
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--color-wd-accent);
  border-radius: 10px;
  display: inline-block;
  transition: all .2s ease-in-out;
  font-weight: 700;
}

.wd-copy-btn:hover {
  background-color: var(--color-wd-accent);
  color: var(--color-wd-primary);
  cursor: pointer;
}

.numbered-list {
  margin-bottom: 1rem;
}

.numbered-list li {
  list-style-type: decimal;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

/* Footer */
footer {
  margin-top: 4rem;
}

.wd-grid footer {
  border: none;
  box-shadow: none;
}

.wd-footer .sub-items {
  padding-left: 0;
  border-left: none;
  display: block;
  margin-left: 0;
}

.wd-footer .sub-items li {
  margin: .75rem 0;
  padding-left: 0;
}

.wd-footer .sub-items li::before {
  content: none;
}

footer .wd-logo-wrapper .logo {
  margin: 0 !important;
}

.ext::after {
  font-family: "FontAwesome";
  content: "ï" !important;
  font-size: .75em;
  margin-left: .35em;
  opacity: .9;
  text-decoration: none;
  display: inline-block;
}

.wd-logo-wrapper {
  padding: 0;
  max-width: var(--breakpoint-xl);
  margin-left: 0;
  margin-right: auto;
}

.wd-footer ul {
  margin-left: 0;
  padding-left: 0;
}

.wd-footer a {
  text-decoration: none;
  border: none !important;
}

.wd-footer > ul > li:first-child {
  padding-left: 0;
}

.wd-footer ul li::before {
  content: none !important;
}

/* Scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 137, 156, .2);
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(133, 137, 156, .2);
  border-radius: 20px;
}

/* Utilities page */
.caption {
  color: var(--color-pcc-ltgrey);
  font-size: 0.85em;
}

.edit {
  color: rgba(215, 20, 0, 1);
  font-weight: bold;
}

.font-size-h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.463em;
  font-weight: 700;
  margin-bottom: 5px;
}

.font-size-h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.122em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 15px;
}

.highlight {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #b4e7f8, #b4e7f8);
  border-bottom: 2px solid #b4e7f8;
  border-left: 2px solid #b4e7f8;
  border-right: 2px solid #b4e7f8;
  border-top: 2px solid #b4e7f8;
  color: var(--color-pcc-black);
}

.label {
  border-radius: 1px;
  color: rgba(255, 255, 255, 1);
  display: inline;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.label-default {
  background-color: rgba(26, 97, 143, 1);
}

.label-muted {
  background-color: var(--color-pcc-ltgrey);
  color: #232323;
}

.lead {
  font-size: 1.225em;
  font-weight: 400;
  letter-spacing: -0.002em;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

/* Icons page */
.fa-bullhorn:before, .fa-arrow-up-right-from-square:before {
  font-family: "FontAwesome";
  margin-right: 10px;
}

.bi-megaphone-fill:before {
  font-family: "bootstrap-icons";
  margin-right: 10px;
}

.ri-megaphone-fill:before {
  font-family: "remixicon";
  margin-right: 10px;
}

[class^="bi-"], [class^="fa-"], [class^="ri-"] {
  font-family: unset !important;
}

.color-link {
  color: var(--color-wd-secondary) !important;
}

.color-link:hover {
  color: var(--color-wd-accent) !important;
}

.flex-heading {
  display: flex;
  gap: 1rem;
}

.flex-heading a {
  margin-top: .4rem;
}

/* Templates page */
.template-preview {
  display: flex;
  gap: 3rem;
}

.template-preview > img {
  max-width: 1500px;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}

.template-preview > div {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

h3.spacer {
  border-top: .1rem solid var(--color-wd-accent);
  margin: 2rem 0;
  padding-top: 1rem;
}

.wd-border {
  background: var(--color-wd-overlay);
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  transition: ease-in-out 400ms;
}

.wd-border:hover {
  transform: scale(.98);
  cursor: pointer;
}

.wd-border > h5 {
  text-transform: uppercase;
  letter-spacing: .10rem;
  padding-bottom: 10px;
}

.wd-border > p {
  font-size: .9rem;
  line-height: 1.2rem;
}

@media screen and (max-width: 600px) {
.template-preview > div {
  display: none;
} 
}

video {
  width: 100%;
}