@import "@/styles/_variables.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-wd-primary);
  background-image: url("../../public/images/footer-graphic.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 200px;
}

.display-block {
  display: block;
}

.mb-8 {
  margin-bottom: 8rem;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 300px;
  }
}

/* Navbar */
.wd-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(29, 34, 56, .7);
}

.wd-navbar {
  display: block;
  justify-content: space-between;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  padding: 1rem;
}

li {
  color: var(--color-wd-tertiary);
  list-style-type: none;
}

a {
  color: var(--color-wd-tertiary) !important;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--color-wd-secondary) !important;
}

@media screen and (max-width: 768px) {
  .wd-navbar {
    display: flex;
  }

  .nav-container {
    position: fixed;
    transition: all .5s;
    overflow: hidden;
    background-color: var(--color-wd-bg-alt);
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    z-index: 1;
  }

  .mobile-btn {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0 1rem;
    z-index: 2;
  }

  .nav-links {
    padding: 4rem 0 0 2rem;
    z-index: 5;
    position: relative;
  }

  .show-menu {
    opacity: 1;
  }

  .show-menu::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 40, 66, .7);
    z-index: 1;
    left: 0;
    top: 0;
    pointer-events: revert;
    backdrop-filter: blur(2px);
  }
  
  .hide-menu {
    opacity: 0;
    height: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 26px;
    cursor: pointer;
  }
   
   label span {
    background: var(--color-wd-secondary);
    border-radius: 10px;
    height: 4px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 100%;
  }
   
  span:nth-of-type(2) {
    width: 50%;
    margin-left: auto;
  }
   
   
  span:nth-of-type(3) {
    width: 75%;
    margin-left: auto;
  }
   
  input[type="checkbox"] {
    display: none;
  }
   
  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px,0px)
  }
   
   
  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg) translate(5.5px, 2px);
    width: 100%;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    opacity: 0;
  }
   
  .sub-items {
    padding-left: .75rem;
    box-sizing: border-box;
    border-left: 1px solid rgba(235, 235, 235, .3);
  }
  
  .sub-items li {
    position: relative;
  }
  
  .sub-items li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: var(--color-wd-tertiary);
    left: -13px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .sub-items li:hover::before {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .wd-navbar {
    display: flex;
  }

  .mobile-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
  }

  .nav-links li {
    margin: 0;
  }

  .sub-items {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .wd-navbar {
    padding: 1rem 0;
  }
}

/* Homepage content */
.wd-home-main {
  padding: 4rem 1rem;
  background-image: url("../../public/images/hex.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: 100%;
  background-position-y: 50%;
}

.wd-content-wrapper {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
}

.wd-hero {
  position: relative;
  background-image: url("../../public/images/box.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  margin-top: 5rem;
}

.wd-hero p {
  margin-bottom: 2rem;
}

.wd-text-center {
  text-align: center;
}

section p {
  margin-bottom: 1rem;
}

.wd-horizontal-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wd-horizontal-display h2 {
  margin-bottom: 2rem;
}

.wd-img-container img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.wd-side-by-side-item img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.wd-btn {
  background-color: var(--color-wd-accent);
  padding: 1rem 1.25rem;
  border-radius: 5px;
  display: inline-block;
  transition: all .2s ease-in-out;
  font-weight: 700;
}

.wd-btn:hover {
  background-color: var(--color-wd-secondary);
  color: var(--color-wd-primary);
}

.carousel {
  text-align: center;
  margin: 2rem 0;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container img {
  width: 90%;
  height: auto;
}

.previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.previous-button {
  left: -20px;
}

.next-button {
  right: -20px;
}

@media screen and (min-width: 768px) {
  .wd-hero {
    background-size: auto;
  }

  .wd-hero .wd-text-container {
    margin: 0 auto 0 13rem;
  }

  .carousel-container img {
    width: 100%;
  }

  .previous-button {
    left: -50px;
  }
  
  .next-button {
    right: -50px;
  }
}

@media screen and (min-width: 1024px) {
  .wd-img-container {
    gap: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .wd-hero h1 {
    font-size: 3.5rem;
  }
}

/* Docs */
.wd-content {
  margin: 5rem 0;
}

aside {
  margin-top: 5rem;
}

.wd-sidebar {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.wd-sidebar > li {
  margin-bottom: 1rem;
}

.wd-sidebar > li > ul {
  padding-left: 0.75rem;
  border-left: 1px solid rgba(235, 235, 235, .3);
}

.wd-sidebar > li > ul > li {
  position: relative;
  width: fit-content;
}

.wd-sidebar > li > ul > li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: var(--color-wd-tertiary);
  left: -13px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.wd-sidebar > li > ul > li:hover::before {
  opacity: 1;
}

.wd-visual-ex {
  background-color: rgba(45, 51, 83, 1);
  padding: 2rem;
  border-radius: 10px 10px 0 0;
  border: 0.5px solid rgba(62, 71, 116, 1);
}

.wd-html-code {
  overflow-x: scroll;
  margin-bottom: 1rem;
}

pre code.hljs {
  border-radius: 0 0 10px 10px;
  border: 0.5px solid black;
}

.wd-monospace {
  color: var(--color-wd-accent);
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
}

#toc-media-container h3:nth-child(2) {
  margin-top: 2rem;
}

.is-current a {
  color: var(--color-wd-secondary) !important;
}

.is-current::before {
  background-color: var(--color-wd-secondary) !important;
  opacity: 1 !important;
}

.active-page > a {
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .wd-sidebar {
    background-color: var(--color-wd-bg-alt);
    padding: 3rem 1rem;
    overflow: scroll;
    overflow-x: hidden;
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100%;
    z-index: -1;
  }

  .show-toc::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 40, 66, .7);
    z-index: -1;
    left: 0;
    top: 0;
    pointer-events: revert;
    backdrop-filter: blur(2px);
  }

  .toc-btn {
    display: flex;
    gap: 1rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 0 1rem;
    padding: .5rem;
  }

  .toc-btn p:hover {
    color: var(--color-wd-secondary);
  }

  .show-toc {
    opacity: 1;
    z-index: 10;
  }
  
  .hide-toc {
    opacity: 0;
    height: 0;
  }

  .close-btn {
    width: 32px;
    height: 26px;
    background: transparent;
    cursor: pointer;
  }

  .close-btn span:first-child {
    width: 100%;
    height: 2.5px;
    display: block;
    transform: rotate(45deg);
    background: var(--color-wd-secondary);
    border-radius: 5px;
  }

  .close-btn span:last-child {
    width: 100%;
    height: 2.5px;
    display: block;
    transform: rotate(-45deg) translate(1.5px, -2px);
    border-radius: 5px;
    background: var(--color-wd-secondary);
  }

  .show-close-btn {
    position: fixed;
    z-index: 20;
    left: 65%;
    top: 20px;
  }

  .hide-close-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  aside {
    margin-top: 0;
  }

  .toc-btn {
    display: none;
  }

  .wd-grid aside {
    position: sticky;
    top: 75px;
    height: 85vh;
    overflow: auto;
    width: max-content;
  }

  .wd-sidebar {
    margin-right: 5rem;
  }
}

.wd-copy-btn {
  background-color: var(--color-wd-accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  transition: all .2s ease-in-out;
  font-weight: 700;
}

.wd-copy-btn:hover {
  background-color: var(--color-wd-secondary);
  color: var(--color-wd-primary);
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 4rem;
}

.wd-footer .sub-items {
  padding-left: 0;
  border-left: none;
  display: block;
  margin-left: 0;
}

.wd-footer .sub-items li {
  margin: .75rem 0;
  padding-left: 0;
}

.wd-footer .sub-items li::before {
  content: none;
}

.wd-logo-wrapper {
  padding: 4rem 0;
  max-width: var(--breakpoint-xl);
  margin-left: auto;
  margin-right: auto;
}

.wd-footer ul {
  margin-left: 0;
  padding-left: 0;
}

.wd-footer a {
  text-decoration: none;
}

.wd-footer > ul > li:first-child {
  padding-left: 0;
}

.wd-footer ul li::before {
  content: none;
}

/* Scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 137, 156, .2);
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(133, 137, 156, .2);
  border-radius: 20px;
}

/* Utilities page */
.caption {
  color: var(--color-pcc-ltgrey);
  font-size: 0.85em;
}

.edit {
  color: rgba(178, 3, 3, 1);
  font-weight: bold;
}

.font-size-h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.463em;
  font-weight: 700;
  margin-bottom: 5px;
}

.font-size-h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.122em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 15px;
}

.highlight {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #b4e7f8, #b4e7f8);
  border-bottom: 2px solid #b4e7f8;
  border-left: 2px solid #b4e7f8;
  border-right: 2px solid #b4e7f8;
  border-top: 2px solid #b4e7f8;
  color: var(--color-pcc-black);
}

.label {
  border-radius: 1px;
  color: rgba(255, 255, 255, 1);
  display: inline;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.label-default {
  background-color: rgba(26, 97, 143, 1);
}

.label-muted {
  background-color: var(--color-pcc-ltgrey);
  color: #232323;
}

.lead {
  font-size: 1.225em;
  font-weight: 400;
  letter-spacing: -0.002em;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}