@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Orbitron:wght@400;700&display=swap');

body {
  font-family: "Inter", sans-serif;
  color: var(--color-tertiary);
}

h1, h2, h3, h4 {
  font-family: "Orbitron", sans-serif;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

p {
  font-family: "Inter", sans-serif;
  color: var(--color-tertiary);
}

.nav-links {
  font-family: "Orbitron", sans-serif;

}

.nav-links li {
  margin: .75rem 0;
}

.wd-footer > ul > li:first-child {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.sub-items {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .wd-hero h1 {
    font-size: 2.75rem;
  }

  .wd-hero p {
    font-size: 1.25rem;
  }

  .wd-content-body h2 {
    font-size: 1.75rem;
  }
}