@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--color-wd-secondary);
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
  color: var(--color-wd-secondary);
  margin-bottom: 1rem;
  font-weight: 800;
}

h1 {
  font-size: 3rem;
}

h1 ~ p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 3%;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: "Inter", sans-serif;
  color: var(--color-wd-secondary);
  line-height: 1.5rem;
}

ul > li, ol > li {
  font-family: "Inter", sans-serif;
  color: var(--color-wd-secondary);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

code {
  font-size: 0.7rem;
  line-height: 1.45;
}

.nav-links {
  font-family: "Inter", sans-serif;

}

.nav-links li {
  margin: .75rem 0;
}

.nav-links li a {
  font-weight: 400 !important;
}

h5 {
  color: var(--color-wd-accent);
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.wd-footer > ul > li:first-child {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.sub-items {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.sub-items li a {
  font-weight: 400 !important;
}

.with-marker li {
  list-style-type: decimal !important;
  padding-left: 5px;
}

.with-marker ul li {
  list-style-type: disc !important;
}

@media screen and (min-width: 768px) {
  .wd-hero h1 {
    font-size: 2.75rem;
  }

  .wd-hero p {
    font-size: 1.25rem;
  }

  .wd-content-body h2 {
    font-size: 1.75rem;
  }
}