:root {
  /* Colors */
  --color-wd-primary: rgba(30, 33, 47, 1);
  --color-wd-secondary: rgba(235, 235, 235, 1);
  --color-wd-overlay: rgba(235, 235, 235, .05);
  --color-wd-accent: rgba(105, 197, 249, 1);
  --color-wd-bg-alt: rgba(18, 20, 31, 1);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}