.wd-announcement {
  width: 100vw;
  background: var(--color-wd-accent);
  opacity: 95%;
  vertical-align: middle;
  max-height: fit-content;
  padding: 5px 10%;
  position: absolute;
  border-radius: 0;
  display: flex;
  justify-content: center;
}

.wd-announcement-hidden {
  opacity: 0;
  transition: opacity .5s ease-out;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

@media (max-width:1024px) {
  .wd-announcement {
    padding: 5px 2%;
  }
}

@media (max-width:850px) {
  .wd-announcement {
    padding: 15px 5px;
  }
}