
/* Class to add to lists to help with spacing between images and text for each step */

.d2lInstructions li {
	margin-bottom: 2.5rem;
	list-style-type: decimal;
}

.d2lInstructions img {
	max-width: 80%;
}

.d2lInstructions ul li {
	list-style: disc;
	margin-left: 1rem;
}

.d2lInstructions .codeBlock {
	max-width: 80%;
}