.themesGallery aside {
  float: none;
  margin: 0;
  padding: 0 7rem 0 0;
  transform: none;
  border: none;
  background-color: transparent;
  max-width: none;
  margin-top: 5em;
  width: max-content;
}

.themesGallery {
  background: rgb(29, 34, 56);
  max-width: var(--breakpoint-xl);
  margin: auto;
  padding-bottom: 40px;
}

.themesGallery aside span {
  position: relative;
  z-index: 99;
}


.galleryBkg {
  background-color: var(--color-wd-primary);
}

.galleryGrid {
  display:grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: var(--breakpoint-xl);
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .galleryGrid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.galleryItem {
  margin: 10px;
  text-align: center;
  /* background-color: white; */
  
}

.galleryItem img {
  width: 100%;
  filter: brightness(.9);
}

.galleryInfo {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, .1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.galleryInfo p {
  display: block;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  color: white;
  width: 100%;
  margin: 0;
  padding-bottom: 15px;
}

.overlay {
  background-color: rgba(15, 15, 15, .1);
}

.galleryInfo a {
  display:block;
  border: white 1px solid;
  color:white;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: .5s;
}

.galleryInfo a:hover {
  background-color: rgba(225,255,255,.2);
  color:white;
  padding: 5px 20px;
  text-decoration: none;
  transition: .5s;
}

/* Navbar */
.themes-navbar {
  display: block;
  justify-content: space-between;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  padding: 1rem;
}



