.pageWrapper {
  font-size: 16px;
  background-color:#1e2238;
}

/* Scrollbars */
.pageWrapper {
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 137, 156, .2);
}

.pageWrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.pageWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.pageWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(133, 137, 156, .2);
  border-radius: 20px;
}

.pageWrapper aside {
  float:none;
  margin: 0;
  padding: 0;
  transform:none;
  border: none;
  background-color: transparent;
  max-width:none;
}

.mainH1 {
  font-weight: 700;
}

.layoutArea {
  background: rgb(29, 34, 56);
  max-width: var(--breakpoint-xl);
  margin: auto;
  padding-bottom: 40px;
} 

 .layoutArea h1.mainH1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-top: 2em;
  text-transform: none;
}

.layoutArea p {
  font-family: "Roboto", sans-serif;
}

ul.wd-sidebar {
  margin: 0 5rem 0 0 !important;
}

.description {
  color: white;
}

.wdNavbar {
  background: var(--color-primary);
}

.header:first-child() {
  padding: 16px;
}

.header a:visited {
  color: rgba(235, 235, 235, 1);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  
  .header nav div {
    height: 35px;
  }

  .header ul, .header li {
  margin: 0;
  padding: 0;
}
}

.header ul>li::before {
  content: none;
  display: none;
}

.header nav {
  padding: 16px;
}

.header a {
  background-image: none;
  border-bottom-color: transparent !important;
  border-bottom-width: 0;
  border-image-width: 0;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: rgba(235, 235, 235, 1) !important;
  line-height: normal;
  -webkit-font-smoothing: auto;
}

.header a:hover {
  background-image: none;
  border-bottom-color: transparent !important;
  border-bottom-width: 0;
  border-image-width: 0;
  text-decoration: none;
  border: none;
  color: rgba(171, 182, 241, 1);
  background-image: none;
}

.hello {
  color: red;
}

.h2, .h2:not([class^=icon]) {
  font-family: "Orbitron", sans-serif;
  color:white;
  border: none;
  margin-bottom: 40px;
  text-transform: none;
  letter-spacing: normal;
  margin: 4rem 0 2rem !important;
  width: 100%;
  padding: 1rem;
  background-color: #285b68;
}

.threeColumn {
  margin: 0 !important;
}