.themesGallery aside {
  float: none;
  padding: 0 7rem 0 0;
  transform: none;
  border: none;
  background-color: transparent;
  max-width: none;
  width: max-content;
}

.themesGallery {
  margin: auto;
  padding-bottom: 40px;
}

.themesGallery aside span {
  position: relative;
  z-index: 99;
}


.galleryBkg {
  background-color: var(--color-wd-primary);
}

.galleryGrid {
  display:grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .galleryGrid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.galleryItem {
  margin: 15px;
  text-align: center;
  /* background-color: white; */
  
}

.galleryItem img {
  filter: brightness(.9);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.galleryItem img:hover {
  filter: brightness(1.1);
}

.galleryInfo {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background-color: var(--color-wd-overlay);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.galleryInfo p {
  font-weight: 600;
  display: block;
  color: white;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}

.overlay {
  background-color: var(--color-wd-overlay);
}

.galleryInfo a {
  background-color: var(--color-wd-primary);
  color: var(--color-wd-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
  border: .2rem solid var(--color-wd-accent);
  display: inline-block;
  transition: all .2s ease-in-out;
  font-weight: 700;
  text-decoration: none;
  transition: .5s;
  margin-bottom: 15px;
}

.galleryInfo a:hover {
  background-color: var(--color-wd-accent);
  color: var(--color-wd-primary) !important;
  padding: 5px 20px;
  text-decoration: none;
  transition: .5s;
}

/* Navbar */
.themes-navbar {
  display: block;
  justify-content: space-between;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  padding: 1rem;
}



