.wd-version {
  width: 100vw;
  background: var(--color-wd-bg-alt);
  opacity: 95%;
  vertical-align: middle;
  max-height: fit-content;
  padding: 5px 10%;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: .75rem;
  letter-spacing: .1rem;
  color: var(--color-wd-accent);
}

.wd-version-hidden {
  opacity: 0;
  transition: opacity .5s ease-out;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

@media (max-width:1024px) {
  .wd-version {
    padding: 5px 2%;
  }
}

@media (max-width:850px) {
  .wd-version {
    padding: 5px;
  }
}